.head{
    font-family: 'EB Garamond';
    font-size: 17px;
}
.bg-banner {
    background-image: url('../assets/img/shooting-star-galaxy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}